<h1>Welcome, <%= @current_user.username %></h1>


<h2>Your ideas:</h2>

<h2>Input our fresh idea here(add image to idea):</h2>
<p>this form will have a dropdown for categories but user cannot create a category</p>
