<div class="container-fluid">


  <h1>Welcome, <%= @current_user.username %></h1>


  <button type="button" class="btn btn-light"><%= link_to "New Idea", new_user_idea_path(@user) %></button>
  <table class="table text-center">
  <thead>
    <tbody>
      <tr>
        <% @user.ideas.each do |idea| %>
          <td><%= link_to idea.title, user_idea_path(@user, idea) %></td>
        <% end %>
      </tr>
    </tbody>
  </thead>
  </table>

</div>
