<div class="jumbotron">
  <h1 class="display-3">Welcome to IdeaBox!</h1>
  <p class="lead">This is an application that allows you to track your ideas as they come to you.</p>
  <hr class="my-4">
  <p>Don't miss an opportunity to bring an idea up at your next get together!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">Create Account </a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">User Log In</a>

  </p>
</div>
