<nav class="navbar navbar-expand navbar-dark bg-dark" role="navigation">
<div class="container-fluid">

  <a href="/" class = "navbar-brand" >IDEABOX</a>

  <div class="collapse navbar-collapse">
    <li class="nav-item navbar-right dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/login">User Login</a>
          <a class="dropdown-item" href="/admin">Admin Login</a>
        </div>
      </li>
  </div>
</div>
</nav>
<div class="jumbotron">
  <h1 class="display-3">Welcome to IdeaBox!</h1>
  <p class="lead">This is an application that allows you to track your ideas as they come to you.</p>
  <hr class="my-4">
  <p>Don't miss an opportunity to bring an idea up at your next get together!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Create Account</a>
  </p>
</div>
