<div class="container-fluid">
<h1>New Category:</h1>


  <%= form_for([:admin, @category]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Create Category" %>
  <% end %>
</div>
