<%= render partial: 'admin/images/nav' %>

<div class="container-fluid">
<button type="button" class="btn btn-outline-info"><%= link_to "New Image", new_admin_image_path %></button><br>
<br>

  <table class="table text-left table-striped table-bordered">
    <thead>
      <th>Image Index</th>
      <tbody>
        <tr><% @images.each do |image| %></tr>
            <td><%= link_to image.title, admin_image_path(image) %><br></td>
          <% end %>
      </tbody>
    </thead>
  </table>
</div>
